<div class="container container-green my-5 rounded shadow-sm p-4 text-center">
  <h1 class="m-5"><%= @plant.common_name %></h1>
  <div class="d-flex justify-content-center mx-5">
    <%= cl_image_tag @plant.photo.key, class:'show-photo h-100 rounded mx-3 mt-4 col-xs-12 col-sm-6' %>
    <div class="col-xs-12 col-sm-6">
      <div class="card-infos rounded p-3 m-3">
        <p class="m-0">Common name: <%= @plant.common_name %></p>
      </div>
      <div class="card-infos rounded p-3 m-3">
        <p class="m-0">Latin name: <%= @plant.latin_name %></p>
      </div>
      <div class="card-infos rounded p-3 m-3">
        <p class="m-0">Family: <%= @plant.family %></p>
      </div>
      <div class="card-infos rounded p-3 m-3">
        <p class="m-0">Temperature: <%= @plant.temp_min %>°C - <%= @plant.temp_max %>°C</p>
      </div>
      <div class="card-infos rounded p-3 m-3">
        <p class="m-0">Ideal light: <%= @plant.ideal_light %></p>
      </div>
      <div class="card-infos rounded p-3 m-3">
        <p class="m-0">Tolerated light: <%= @plant.tolerated_light %></p>
      </div>
      <div class="card-infos rounded p-3 m-3">
        <p class="m-0">Difficulty level: <%= "🤯" * @plant.difficulty_level %> (out of 10)</p>
      </div>
      <% unless @plant.avg_rating.nil? || @plant.avg_rating == 0 %>
        <div class="card-infos rounded p-3 m-3">
          <p class="m-0">Average rating: <%= @plant.avg_rating %>/5</p>
        </div>
      <% end %>
      <div class="card-infos rounded p-3 m-3">
        <p class="m-0">Owner: <%= @plant.user.first_name %> <%= @plant.user.last_name %></p>
      </div>
      <div class="card-infos rounded p-3 m-3">
        <p class="m-0">Price: <%= @plant.price.to_f / 100 %>€ / day</p>
      </div>
      <div>
        <%= link_to "Book", new_plant_booking_path(@plant), class:'btn btn-success' if current_user != @plant.user && policy(Booking).new? %>
        <%= link_to "Edit", edit_plant_path(@plant), class:'btn btn-info' if policy(@plant).edit? %>
        <%= link_to "Delete", plant_path(@plant), method: :delete, class:'btn btn-warning' if policy(@plant).destroy? %>
      </div>
    </div>
  </div>
    <div>
      <h2 class="m-5">Reviews</h2>
      <% if @plant.reviews.empty? %>
        <div class="card-infos rounded py-3 px-5 m-5">
          <p class="mb-1"><strong>No reviews yet...</strong></p>
          <% if @plant.bookings.any? { |booking| booking.user == current_user } %>
            <p class="mb-1 ps-3">Be the first to leave a review of <%= @plant.common_name %></p>
          <% else %>
            <p class="mb-1 ps-3">Once you've booked it, make sure to leave a review of <%= @plant.common_name %></p>
          <% end %>
        </div>
      <% end %>
      <% @plant.reviews.each do |review| %>
        <div class="card-infos rounded py-3 px-5 m-5">
          <p class="mb-1"><strong><%= review.user.first_name %> <%= review.user.last_name %></strong> says:</p>
          <p class="mb-1 ps-3"><%= review.comment %></p>
          <div class="d-flex justify-content-between">
            <p class="mb-1 ps-3"><%= review.rating %>/5</p>
            <%= link_to "Edit", plant_review_path(review), class: 'btn btn-outline-success' if review.user == current_user %>
          </div>
        </div>
      <% end %>
      <%= link_to "Add a review", new_plant_review_path(@plant), class: 'btn btn-success mb-4' if current_user.bookings.any? { |booking| booking.plant == @plant } %>
    </div>
</div>
